@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// --------fonts-----------//
$fonts: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$font-size: 10px;
$font-color: #333;
$font-button-color: #fff;

// --------colors-----------//
$brand-color: #3ab0e2;
$button-success: #79a379;
$button-approved: #0c700c;
$button-delete: #cc7a7a;
$button-declined: #cc2323;
$button-pending: #dd9354;
$button-default: #31708f;
$button-edit: $brand-color;
$button-reg: #fff;
$border-color: #ddd;
$background-color: #f2f5f8;
$button-background-color: #f7f7f7;
