
// --------fonts-----------//
$fonts: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-size: 14px;

// --------colors-----------//
$brand-color: #3ab0e2;

// --------transitions-----------//
$scale: scale(1.02);
$fast-transition: all 150ms ease-in-out;
$medium-transition: all 250ms ease-in-out;
