@import './variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  box-sizing: border-box;
  font-family: $fonts;
}

html {
  font-size: $font-size;
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: $font-color;
  text-decoration: none;
}

th {
  color: $font-color;
}

td {
  color: $font-color;
  cursor: pointer;
}

// ===================
// BUTTON STYLINGS
// ===================

button {
  justify-content: center;
  background-color: $font-button-color;
  padding: 7px 10px 7px 10px;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
  border: 1px solid $button-default;
}

button:hover {
  background: $button-background-color;
  color: $font-color;
}

input.button-default {
  justify-content: center;
  background-color: $button-default;
  border: 1px solid $button-default;
  padding: 7px 10px 7px 10px;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

input[disabled]:hover {
    cursor: not-allowed;
    background-color: #97a9b2;
}

.button-success {
  background-color: $button-success;
  color: $font-button-color;
  border: 1px solid $button-success;
}

.button-delete {
  background-color: $button-delete;
  color: $font-button-color;
  border: 1px solid $button-delete;
}

.button-edit {
  background-color: $button-edit;
  color: $font-button-color;
  border: 1px solid $button-edit;
}

.button-pending {
  background-color: $button-pending;
  color: $font-button-color;
  border: 1px solid $button-pending;
}

.button-declined {
  background-color: $button-declined;
  color: $font-button-color;
  border: 1px solid $button-declined;
}

.button-approved {
  background-color: $button-success;
  color: $font-button-color;
  border: 1px solid $button-success;
}

.button-default {
  background-color: $button-default;
  color: $font-button-color;
  border: 1px solid $button-default;
}

.button-reg {
  background-color: $button-reg;
  color: $font-color;
  border: 1px solid #31708f;
}

.button-new-target {
  background-color: #31708f;
  color: $button-reg;
  justify-content: center;
  align-items: center;
  border: 1px solid $button-reg;
  padding: 16px;
}

.button-new-target:hover {
  background-color: #498bab;
  color: $button-reg;
}

// ===================
// FA ICON STYLINGS
// ===================

.fa {
  justify-content: center;
  vertical-align: middle;
  padding-bottom: 3px;
  color: #31708f;
}

.fa.fa-angle-double-right {
  color: $font-button-color;
}

// ===================
// SORRY MESSAGE STYLINGS
// ===================

.sorry-message {
  text-align: center;
  vertical-align: middle;
  padding-top: 40px;
}

// ===================
// RESPONSIVE LAYOUT
// ===================

@media screen and (max-width: 480px) {
  body {
    font-size: 1.25rem;
    height: 100%;
    display: grid;
  }
}

@media screen and (min-width: 480px) and (max-width: 520px) {
  body {
    font-size: 1.25rem;
    height: 100%;
    display: grid;
  }
  .form-container {
    background-color: #fff;
    padding-bottom: 40px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    max-width: 500px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media screen and (min-width: 520px) and (max-width: 768px) {
  body {
    font-size: 1.5rem;
    height: 100%;
    display: grid;
  }

  .form-container {
    background-color: #fff;
    padding-bottom: 40px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    max-width: 500px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 1.5rem;
    background-color: $background-color !important;
    height: 100%;
    display: grid;
  }

  .form-container {
    background-color: #fff;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 500px;
    border: 1px solid $border-color;
    margin: auto;
  }
}

@media screen and (min-width: 991px) {
  body {
    font-size: 1.5rem;
    background-color: $background-color !important;
    height: 100%;
    display: grid;
  }

  .form-container {
    background-color: #fff;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 500px;
    border: 1px solid $border-color;
    margin: auto;
  }
}
