@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  min-height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  justify-content: center;
  background-color: #fff;
  border: 1px solid $font-color;
  padding: 7px 10px 7px 10px;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background: #f7f7f7;
  color: $font-color;
}

button.button-small {
  justify-content: center;
  border: 1px solid $font-color;
  padding: 4px 6px 4px 6px;
  border-radius: 3px;
  font-size: 0.8em;
  transition: all 0.3s ease 0s;
}

input.button-default {
  justify-content: center;
  background-color: $button-default;
  border: 1px solid $font-color;
  padding: 7px 10px 7px 10px;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

.fa {
  justify-content: center;
  vertical-align: middle;
  padding-bottom: 3px;
}

.button-success {
  background-color: $button-success;
  color: $font-button-color;
}

.button-delete {
  background-color: $button-delete;
  color: $font-button-color;
}

.button-edit {
  background-color: $button-edit;
  color: $font-button-color;
}

.button-pending {
  background-color: $button-pending;
  color: $font-button-color;
}

.button-declined {
  background-color: $button-declined;
  color: $font-button-color;
}

.button-approved {
  background-color: $button-success;
  color: $font-button-color;
}

.button-default {
  background-color: $button-default;
  color: $font-button-color;
}

.button-reg {
  background-color: $button-reg;
  color: $font-color;
}

.button-new-target {
  background-color: $button-reg;
  color: $font-color;
}

.button-new-target:hover {
  background: $button-success;
  color: $font-button-color;
}

.sorry-message {
  text-align: center;
  vertical-align: middle;
  padding-top: 40px;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: $font-color;
  text-decoration: none;
}

table {
  text-align: center;
}

th {
  text-align: center;
}

.home-page {
	background: url('../images/backsplash-adjusted.png');
  background-size:100%;
  min-height: 100%;
  display:block;
  padding:0 !important;
  margin:0;
}

@media screen and (max-width: 480px) {
  body {
    font-family: $fonts;
    font-size: 1.25rem;
    height: 100%;
    display: grid;
  }

  .form-container {
    background-color: #fff;
    padding-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 520px) {
  body {
    font-family: $fonts;
    font-size: 1.25rem;
    height: 100%;
    display: grid;
  }

  .form-container {
    background-color: #fff;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 520px) and (max-width: 768px) {
  body {
    font-family: $fonts;
    font-size: 1.5rem;
    height: 100%;
    display: grid;
  }
  .form-container {
    background-color: #fff;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  body {
    font-family: $fonts;
    font-size: 1.5rem;
    background-color: $background-color;
    height: 100%;
    display: grid;
  }
  .form-container {
    background-color: #fff;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 500px;
    border: 1px solid $border-color;
    margin: auto;
  }
}

@media screen and (min-width: 959px) {
  body {
    font-family: $fonts;
    font-size: 1.5rem;
    // background-color: $background-color;
    height: 100%;
    display: grid;
  }

  .form-container {
    background-color: #fff;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 500px;
    border: 1px solid $border-color;
    margin: auto;
  }
}
