<div *ngIf="!loadEditPage" class = "col-md-5">
  <div>Sorry, but this target does not exist.</div>
  <a [routerLink]="['']"><button  *ngIf="!loadingEditPage" class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true">
  Go Back
  </button></a>
</div>

<div *ngIf="loadEditPage" class = "col-md-5">
  <h4 class="page-header">Edit Target Information</h4>

  <!-- Shows validation messages -->
  <div class = "col-md-12 row show-hide-message">
    <div [ngClass] = "messageClass">{{ message }}</div>
  </div>
  <!-- End of validation messages -->

  <!-- Status of Acquisition Button -->
  <label for="statusChange">Status of Acquisition</label>

  <div class="dropdown">
    <button *ngIf="buttonChange" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Status
    <span class="caret"></span></button>
    <button *ngIf="buttonChangeApproved" value="Approved" class="btn btn-success" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Approved
    </button>
    <button *ngIf="buttonChangeDeclined" class="btn btn-danger" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Declined
    </button>
    <button *ngIf="buttonChangePending" class="btn btn-warning" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Pending
    </button>
    <button *ngIf="buttonChangeResearching" class="btn btn-info" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Researching
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a *ngFor="let x of statusArray" (click)="statusSelectUpdate(x)">{{x}}</a></li>
    </ul>
  </div>
  <!-- End of Button -->

  <hr>

  <!-- Beginning of Form -->
  <form [formGroup]="form" (submit)="updateTargetSubmit()">
    <!-- Input Fields Start -->
      <label for="companyName">Company Name</label>
      <div [ngClass]="{'has-error': (form.controls.companyName.errors && form.controls.companyName.dirty) , 'has-success': (!form.controls.companyName.errors)}">
        <input type="text" [(ngModel)]="target.companyName" formControlName="companyName" autocomplete="off" class="form-control">
        <ul class="help-block">
          <li *ngIf="form.controls.companyName.errors?.required && form.controls.companyName.dirty">This field is required.</li>
          <li *ngIf="form.controls.companyName.errors?.minlength || form.controls.companyName.errors?.maxlength">Minimum characters: 2, Maximum characters: 45</li>
        </ul>
      </div>
      <label for="location">Location</label>
      <div [ngClass]="{'has-error': (form.controls.location.errors && form.controls.location.dirty) , 'has-success': (!form.controls.location.errors)}">
        <input type="text" [(ngModel)]="target.location"  formControlName="location" autocomplete="off" class="form-control">
        <ul class="help-block">
          <li *ngIf="form.controls.location.errors?.required && form.controls.location.dirty">This field is required.</li>
          <li *ngIf="form.controls.location.errors?.minlength || form.controls.location.errors?.maxlength">Minimum characters: 2, Maximum characters: 30</li>
        </ul>
      </div>

      <label for="keyContact1">Key Contact #1</label>
      <div [ngClass]="{'has-error': (form.controls.keyContact1.errors && form.controls.keyContact1.dirty) , 'has-success': (!form.controls.keyContact1.errors)}">
        <input type="text" [(ngModel)]="target.keyContact1" formControlName="keyContact1" autocomplete="off" class="form-control">
        <ul class="help-block">
          <li *ngIf="form.controls.keyContact1.errors?.required && form.controls.keyContact1.dirty">This field is required.</li>
          <li *ngIf="form.controls.keyContact1.errors?.minlength || form.controls.keyContact1.errors?.maxlength">Minimum characters: 2, Maximum characters: 45</li>
        </ul>
      </div>

      <label for="keyContact2">Key Contact #2</label>
      <div [ngClass]="{'has-error': (form.controls.keyContact2.errors && form.controls.keyContact2.dirty)}">
        <input type="text" [(ngModel)]="target.keyContact2" formControlName="keyContact2" autocomplete="off" class="form-control">
        <ul class="help-block">
          <li *ngIf="form.controls.keyContact2.errors?.required && form.controls.keyContact2.dirty">This field is required.</li>
          <li *ngIf="form.controls.keyContact2.errors?.minlength || form.controls.keyContact2.errors?.maxlength">Minimum characters: 2, Maximum characters: 45</li>
        </ul>
      </div>

      <label for="financialPerformance">Financial Performance</label><br />
      <small>Please enter a quick note about the prospect's recent financial performance.</small>
      <div [ngClass]="{'has-error': (form.controls.financialPerformance.errors && form.controls.financialPerformance.dirty) , 'has-success': (!form.controls.financialPerformance.errors)}">
        <input type="text" [(ngModel)]="target.financialPerformance" formControlName="financialPerformance" autocomplete="off" class="form-control">
        <ul class="help-block">
          <li *ngIf="form.controls.financialPerformance.errors?.required && form.controls.financialPerformance.dirty">This field is required.</li>
          <li *ngIf="form.controls.financialPerformance.errors?.minlength || form.controls.financialPerformance.errors?.maxlength">Minimum characters: 2, Maximum characters: 70</li>
        </ul>
      </div>

      <!-- Input Fields End -->

      <!-- Submit Button -->
      <input [disabled]="!form.valid" type="submit" class="button-default" value="Submit Changes"><a [routerLink]="['']">&nbsp;<button class="btn btn-info" type="button" aria-haspopup="true" aria-expanded="true">
        Go Back
        </button></a>
  </form>
  <!-- End of Form -->
