<div class = "container">

  <h3>Create a New Target Profile for Potential Acquisitions</h3>
  <a [routerLink]="['/newtarget/']"><button class = "btn btn-success">Create New Target</button></a>

  <h3>List of Potential Targets</h3>
  <div *ngFor="let targets of targetPosts">
    <p>{{targets.companyName}}&nbsp;<a [routerLink]="['/edit/', targets._id]"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
    &nbsp;<a [routerLink]="['/delete/', targets._id]"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a></p>
    <p>{{targets.location}}</p>
    <p>{{targets.status}}</p>
  </div>

  <h3>Full Look at Targets</h3>

</div>
