

<div class = "container">
  <h2 class="page-header">Create a New Target</h2>
    <div class = "col-md-5">

      <div class = "row show-hide-message">
        <div [ngClass] = "messageClass">
          {{ message }}
        </div>
      </div>

      <form [formGroup]="form" (submit)="onTargetSubmit()">
          <label for="companyName">Company Name</label>
          <div [ngClass]="{'has-error': (form.controls.companyName.errors && form.controls.companyName.dirty) , 'has-success': (!form.controls.companyName.errors)}">
            <input type="text" [(ngModel)]="companyName" name="companyName" formControlName="companyName" autocomplete="off" class="form-control">
            <ul class="help-block">
              <li *ngIf="form.controls.companyName.errors?.required && form.controls.companyName.dirty">This field is required.</li>
              <li *ngIf="form.controls.companyName.errors?.minlength || form.controls.companyName.errors?.maxlength">Minimum characters: 5, Maximum characters: 45</li>
            </ul>
          </div>
          <label for="location">Location</label>
          <div [ngClass]="{'has-error': (form.controls.location.errors && form.controls.location.dirty) , 'has-success': (!form.controls.location.errors)}">
            <input type="text" [(ngModel)]="location" name="location" formControlName="location" autocomplete="off" class="form-control">
            <ul class="help-block">
              <li *ngIf="form.controls.location.errors?.required && form.controls.location.dirty">This field is required.</li>
              <li *ngIf="form.controls.location.errors?.minlength || form.controls.location.errors?.maxlength">Minimum characters: 2, Maximum characters: 30</li>
            </ul>
          </div>
          <input [disabled]="!form.valid" type="submit" class="btn btn-primary" value="Submit">
      </form>
  </div>
  <div class = "col-md-7">
    <div class = "container">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Status
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Researching</a></li>
          <li><a href="#">Pending Approval</a></li>
          <li><a href="#">Approved</a></li>
          <li><a href="#">Declined</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
