@import '~sass/variables';
@import '~sass/styles';

input.button-delete {
    justify-content: center;
    background-color: $button-delete;
    border: 1px solid #333;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
}
