
<div *ngIf="!loadEditPage" class = "container-wrapper">
  <div class = "form-container">
    <div class = "sorry-message">
      <h5>Sorry, but this target does not exist.</h5>
      <a [routerLink]="['/dashboard/']"><button  *ngIf="!loadingEditPage" class="button-default" type="button" aria-haspopup="true" aria-expanded="true">
      Go Back
      </button></a>
    </div>
  </div>
</div>

<div *ngIf="loadEditPage">
  <div class = "form-container">
    <h4 class="page-header">Are you sure you want to delete this entry?</h4>

    <button type="button" name="button" class="button-approved" (click)="deleteTargetFinal()">Yes</button>
    <a routerLink='/dashboard/'><button type="button" name="button" class="button-delete">No</button></a>
    <br>
    <hr>
    <!-- Beginning of Form -->
    <div (submit)="deleteTargetFinal()">
      <!-- Input Fields Start -->

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-body"><label for="companyName">Company Name:</label>&nbsp;{{targetSpecific.companyName}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body"><label for="companyName">Location:</label>&nbsp;{{targetSpecific.location}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body"><label for="companyName">Status:</label>&nbsp;{{targetSpecific.status}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body"><label for="companyName">Key Contact #1:</label>&nbsp;{{targetSpecific.keyContact1}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body"><label for="companyName">Key Contact #2:</label>&nbsp;{{targetSpecific.keyContact2}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body"><label for="companyName">Financial Performance:</label>&nbsp;{{targetSpecific.financialPerformance}}</div>
        </div>
      </div>
        <!-- Submit Button -->

    </div>
    <!-- End of Form -->
  </div>
  <!-- End of form container -->
</div>
<!-- End of loading-page -->
